* {
    box-sizing: border-box;
}

body {
    background: radial-gradient( rgb(17, 44, 44), rgb(9, 20, 29));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.square-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 99vw;
}

.square {
    background-color: rgb(10, 14, 17);
    box-shadow: 0 1px 2px rgb(20, 20, 65);
    height: 15px;
    width: 15px;
    margin: 0.1em;
    transition: 2s ease-in;
}

.square:hover {
    transition-duration: 0s;
}